.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--n26-light-gray); /* Use the light gray background */
  color: var(--n26-dark-gray); /* Use the dark gray for text */
}

.App-logged-in {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--n26-light-gray); /* Consistent background */
  color: var(--n26-dark-gray); /* Consistent text color */
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--n26-spacing-l);
  background-color: var(--n26-white); /* Main content area can be white */
  border-radius: var(--n26-border-radius);
  box-shadow: var(--n26-shadow-s);
  margin: var(--n26-spacing-l); /* Add some margin around the main container */
}

.profile-button {
    background-color: var(--n26-green);
    color: var(--n26-white);
    border: none;
    border-radius: var(--n26-border-radius);
    padding: 10px 15px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.profile-button:hover {
    background-color: #218a82; /* A darker shade of the N26 green */
}